- name: "Configuring aws-ec2 instance using Ansible"
  become: yes
  hosts: webservers

  tasks:
   - name: Update APT Cache for Debian/Ubuntu based AMIs
     apt:
       update_cache: yes
     when: ansible_os_family == "Debian"

   - name: Install required Packages (Docker)
     apt:
       name: docker.io
       state: present
      
   - name: Appending {{ ansible_user }} to docker group
     user:
       name: "{{ ansible_user }}"
       groups: docker
       append: yes

   - name: Create an directory for the website
     file:
       path: /home/{{ ansible_user }}/static-site
       state: directory
       owner: "{{ ansible_user }}" 
       group: docker
       mode: 0755

   - name: Copy the static file from local to remote hosts
     copy:
        src: ./website/index.html
        dest: /home/{{ ansible_user }}/static-site
        owner: "{{ ansible_user }}"
        group: docker
        mode: 0644

   - name: Run the NGINX container by mounting the static index.html file to NGINX container and mapping port 80:80
     community.docker.docker_container:
         name: webserver
         image: nginx:latest
         state: started
         restart_policy: always
         ports:
           - "80:80"
         volumes:
           - "/home/{{ ansible_user }}/static-site:/usr/share/nginx/html:ro"
